<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rock Manga Indo</title>

  <!-- CSS  -->
  <link href="img/rock.png" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="main-dock-wrapper" role="navigation">
    <div class="nav-wrapper container1">&nbsp;&nbsp;
      <ul class="left hide-on-med-and-down">
        <li><a class="dropdown-button" href="#"><i class="tiny material-icons left">error_outline</i>About</a></li>
        <li><a href="#"><i class="tiny material-icons left">perm_identity</i>My Account</a></li>
      </ul>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="register.html">Register</a></li>
        <li class="divider"></li>
        <li><a href="#!">Change password</a></li>
         <li class="divider"></li>
        <li><a href="#!">Log out</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="komik.html">Produk</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Setting<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" title="Go to Home"><i class="material-icons">home</i></a></li>
        <li><a href="#" title="About Me"><i class="material-icons">info_outline</i></a></li>
        <li><a href="#" title="My Account"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#" title="Setting"><i class="material-icons">settings_applications</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
       <div class="row">
          <div class="col s7">
            <img class="responsive-img" src="img/l.png" width="400">
          </div>
          <div class="col s5 ">
            <form><label>Searchs</label>
              <div class="input-field hoverable">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>
        </div>
     <div class="row">

      <div class="col s9">
        <!-- Grey navigation panel -->
        <h3>Blog</h3>
        <font size="6px">TIPS UNTUK MENINGKATKAN PENGUNJUNG TOKO ONLINE</font><br>
        <p>&nbsp;&nbsp;&nbsp;Sebagai pemilik toko online yang baru dimulai, usaha yang paling utama adalah bagaimana caranya mendapatkan banyak pengunjung untuk toko online kita. Tidak mudah untuk mendapatkan banyak pengunjung ke toko online kamu secara cepat kecuali kamu membayar jasa marketing yang bagus. Untuk mendapatkan banyak pengunjung kamu harus konsisten dan itu membutuhkan waktu dan usaha. Berikut beberapa tips untuk meningkatkan pengunjung toko online kamu:<br>
        1. Promosikan di social media Mempromosikan toko online kamu di social mediasalah satu cara paling ampuh untuk mendapatkan traffic pengunjung yang banyak. Facebook, twitter, instagram, path bisa menjadi stategi terdepan untuk menjaring banyak pengunjung yang loyal maupun pengunjung baru.
        Buat konten yang bagus Buat konten ulasan produk dengan cara yang unik dan relevan agar konten produk kamu terlihat menarik untuk para pengunjung dan berkesempatan tampil di halaman utama mesin pencarian. Bisa berupa ulasan dalam artikel atau di dalam deskripsi produk.<br>
        2. Promo yang menarik Siapa yang tidak tertarik dengan sale atau diskon, bagi kamu yang baru memulai bisnis online membuat promo diskon yang menarik bisa jadi salah satu cara yang bagus untuk menarik banyak pengunjung sekaligus pembeli.<br>
        3. Viral (promosi dari mulut ke mulut) Promosi dari mulut ke mulut membicarakan toko online menjadi promosi secara tidak langsung, promosi secara tidak langsung ini akan terjadi jika pelayanan kita bisa memuaskan para pelanggan, bukan tidak mungkin para pelanggan merekomendasikan toko online kamu ke teman-temannya dan toko online kamu akan kebanjiran pengunjung! Itu hanya sebagian dari sekian banyak cara untuk meningkatkan pengunjung di toko online kamu, sekarang saatnya kamu untuk mencobanya, silahkan :)</p>
        <a href="isiblog1.html"><button class="btn waves-effect waves-red" type="submit" name="action">Selanjutnya
                <i class="material-icons right">fast_forward</i>
        </button></a>
        <h6></h6>
        
      </div>

      <div class="col s3">
        <!-- Teal page content  -->
        <h3>Cari by Categori</h3>
        <label>Select Kategori</label>
          <div class="input-field col s12">
            <select class="browser-default">
              <option value="" disabled selected>Pilih kategori</option>
              <option value="1">Tips and Trick</option>
              <option value="1">Berita</option>
              <option value="1">Trend</option>
            </select>
          </div>
          <div class="input-field col s12">
            <font size="5px">Artikel Baru</font>
            <h6></h6>
            <p><a href="isiblog.html" class="black-text"><font size="3px">4 Alasan Mengapa Bisnis Online Anda Kurang Berkembang<br><a style="color:#26a69a" href=""><font size="1">02 Sep 2015</font></a></font></a></p>
            <h6></h6>
            <p><a href="isiblog.html" class="black-text"><font size="3px">5 Tips Menangani Bisnis Online yang Sedang Sepi<br><a style="color:#26a69a" href=""><font size="1">05 Sep 2015</font></a></font></a></p>
            <h6></h6>
            <p><a href="isiblog.html" class="black-text"><font size="3px">Cara Menghack Laptop Yang Terkunci<br><a style="color:#26a69a" href=""><font size="1">10 Sep 2015</font></a></font></a></p>
            <h6></h6>
          </div>
      </div> 

    </div>
  </div><br>

  <footer class="main-dock-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 class="white-text">Tentang kami</h4>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h2 class="white-text">Settings</h2>
          <ul>
            <li><a class="white-text" href="#!">Account</a></li>
            <li><a class="white-text" href="blog.html">Blog</a></li>
            <li><a class="white-text" href="#!">Pembayaran</a></li>
            <li><a class="white-text" href="#!">Konfirmasi Order</a></li>
          </ul>
        </div>
        <div class="col l31 s12">
          <h2 class="white-text">Connect</h2>
          <ul>
            <li class="white-text">Email     : kahfimuhammad01@gmail.com</a></li>
            <li class="white-text">Contack   : 085721627627</a></li>
            <li class="white-text">BBM       : 5A17885E</a></li>
            <li class="white-text">Facebook  : Muhammad Al Kahfi</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <font color="#fff">Coprlight by</font>&nbsp;<a class="black-text text-lighten-3" href="http://materializecss.com">Muhammad Kahfi</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script> 
  <script src="js/init.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>


  </body>
</html>
