<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rock Manga Indo</title>

  <!-- CSS  -->
  <link href="img/rock.png" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="main-dock-wrapper" role="navigation">
    <div class="nav-wrapper container1">&nbsp;&nbsp;
        <img class="responsive-img" src="img/rock.png" width="60" height="63">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="register.html">Register</a></li>
        <li class="divider"></li>
        <li><a href="#!">Change password</a></li>
         <li class="divider"></li>
        <li><a href="#!">Log out</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          
        </div>
      </form>
      </li>
        <li><a class="white-text" href="index.html">Home</a></li>
        <li><a class="white-text" href="#">About</a></li>
        <li><a class="white-text" href="#">My Account</a></li>
        <li><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Setting<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" title="Go to Home"><i class="material-icons">home</i></a></li>
        <li><a href="#" title="About Me"><i class="material-icons">info_outline</i></a></li>
        <li><a href="#" title="My Account"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#" title="Setting"><i class="material-icons">settings_applications</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      
    <br>
     <div class="row">

      <div class="col s9">
        <!-- Grey navigation panel -->
        <h3>Blog</h3>
        <font size="6px">TIPS UNTUK MENINGKATKAN PENGUNJUNG TOKO ONLINE</font><br>
        <p>&nbsp;&nbsp;&nbsp; Sama seperti layaknya toko offline, toko yang berbasis online juga bisa saja mengalami penurunan omzet karena sepinya pembeli atau bahkan tidak ada pembeli. Sebagai pebisnis tentu Anda tak bisa berdiam diri saat melihat toko online Anda dalam keadaan sepi pembeli. Anda harus menelusuri penyebab toko online Anda menjadi sepi. Toko online memang sebuah fenomena baru didunia bisnis yang sedang marak digandrungi masyarakat. Dengan segala kemudahan dan peluang mendapatkan keuntungan besar yang ditawarkan, toko online kini telah menjadi primadona masyarakat dalam berbisnis.<br>

        &nbsp;&nbsp;&nbsp;Namun sayang tak semua orang bisa sukses merambah bisnis berkonsep eCommerce ini. Ada saja beberapa diantara pebisnis online yang gagal. Salah satu yang membuat kegagalan ini bisa jadi karena sepinya toko online yang berlarut-larut. Maka dari itu, saat pebisnis berkutat dengan sepinya toko online, maka ia seharusnya lekas bergerak untuk mencari tahu sebab dan segera untuk memperbaikinya. Berikut beberapa hal yang biasanya menjadi penyebab sepinya toko online dari pembeli.<br><br>

        1. Toko Online yang Kotor dan Berantakan<br><br>

        &nbsp;&nbsp;&nbsp;Siapapun orang pasti akan betah berlama-lama di toko yang bersih dan rapi dan sebaliknya orang tak akan betah jika ia berada di toko yang kotor dan berantakan. Hal ini berlaku pada jenis toko apapun, toko offline maupun toko online. Maka dari itu sebagai pebisnis online, Anda harus mengerti benar tentang hal ini. Sebisa mungkin jadikan toko online Anda memiliki tampilan antarmuka situs web yang bersih dari pop-ups yang mengganggu. Selain itu jangan lupa juga untuk menjadikan navigasi situs web toko online Anda rapi dan nyaman. Dengan adanya tampilan toko online yang bersih dan rapi, maka pengunjung pun akan merasa nyaman dan senang berlama-lama berada di toko online Anda.<br><br>

        2. Harga yang Terlalu Tinggi<br><br>

        &nbsp;&nbsp;&nbsp;Penyebab berikutnya yang membuat toko online menjadi sepi adalah harga produk yang terlalu tinggi. Hampir semua konsumen memang akan lebih senang berbelanja di tempat yang menjual produk dengan harga yang murah & terjangkau. Maka dari itu Anda perlu berhati-hati saat akan mencantumkan harga untuk produk yang Anda jual. Sebaiknya sebelum memberikan harga, Anda lakukan dulu survei harga di beberapa toko online yang ada. Dengan Anda mengetahui harga pasaran dari hasil survei tersebut, maka Anda bisa menetapkan harga yang pas dan sesuai. Dengan harga yang sesuai ini, maka konsumen pun lebih senang untuk berbelanja di toko online Anda.<br><br>

        3. Buruknya Layanan Pelanggan<br><br>

        &nbsp;&nbsp;&nbsp;Layanan memang merupakan sesuatu yang sangat krusial bagi bisnis apapun. Ini karena layanan atau service menjadi tolak ukur kepuasan konsumen & menentukan bisnis Anda sukses atau gagal. Jika konsumen merasa puas dengan layanan bisnis Anda maka mereka pun akan terus berbelanja kepada Anda. Sebaliknya jika mereka tak puas, maka mereka akan dengan mudah meninggalkan toko online Anda dan berpaling ke toko online yang lain. Maka dari itu sebagai pebisnis online, Anda harus bisa menjadikan para konsumen yang berbelanja ke toko online puas dengan segala layanan yang Anda tawarkan. Saat konsumen merasa puas, toko online Anda pun akan terus selalu dikunjungi. Selain itu, kepuasan pelanggan dapat Anda tampilkan melalui testimonial sebagai referensi pengunjung toko online Anda.<br><br>

        4. Deskripsi Produk Yang Terlalu Berlebihan<br><br>

        &nbsp;&nbsp;&nbsp;Memberikan deskripsi pada sebuah produk yang akan dijual secara online memang harus Anda lakukan. Namun Anda harus ingat, jangan melakukan hal ini secara berlebihan. Meskipun memang pada kenyataannya produk Anda sedemikian rupa saat dideskripsikan, namun alangkah baiknya Anda tetap menjaga koridor dan standar pemasaran. Jika Anda memaksakan diri untuk melebih-lebihkan produk Anda, maka konsumen bisa merasa curiga terhadap produk dan toko online Anda. Mereka akan merasa takut jika berbelanja di toko online Anda karena deksripsi yang berlebihan tersebut mereka anggap sebagai hal yang mengada-ada dan menipu. Maka dari itu, deskripsikan saja produk-produk Anda secara umum. Hindari pemakaian kata yang berlebihan dan terkesan mengada-ada.<br><br>


        5. Tidak Ada Testimoni dari Pembeli Sebelumnya<br><br>

        &nbsp;&nbsp;&nbsp;Testimoni mungkin terlihat seperti hal sepele, tetapi sebenarnya testimoni merupakan hal yang sangat penting. Testimoni merupakan tolak ukur calon pembeli terhadap barang yang akan dibelinya. Calon pembeli melihat testimoni biasanya untuk memastikan apakah penjual merupakan penipu atau bukan, lalu biasanya yang dipastikan dari testimoni adalah kualitas barangnya. Dalam suatu testimoni biasanya pembeli sebelumnya akan menyebutkan kualitas barang yang sudah dibelinya apakah bagus atau tidak. Jadi, bisa jadi calon pembeli sudah cocok dengan barang dan harga yang Anda jual, namun calon pembeli tersebut ragu dan tidak jadi membeli karena tidak adanya testimoni tersebut. Jadi sebisa mungkin selalu tanya kepuasan pembeli setelah berbelanja di toko online anda</p>
        <a href="isiblog2.html"><button class="btn waves-effect waves-red" type="submit" name="action">Selanjutnya
                <i class="material-icons right">fast_forward</i>
        </button></a>
        <h6></h6>
        
      </div>

      <div class="col s3">
        <!-- Teal page content  -->
        <h3>Cari by Categori</h3>
        <label>Select Kategori</label>
          <div class="input-field col s12">
            <select class="browser-default">
              <option value="" disabled selected>Pilih kategori</option>
              <option value="1">Tips and Trick</option>
              <option value="1">Berita</option>
              <option value="1">Trend</option>
            </select>
          </div>
          <div class="input-field col s12">
            <font size="5px">Artikel Baru</font>
            <h6></h6>
            <p><font size="3px">4 Alasan Mengapa Bisnis Online Anda Kurang Berkembang<br><a href=""><font size="1">02 Sep 2015</font></a></font></p>
            <a href="isiblog2.html"><button class="waves-effect waves-red btn" type="submit" name="action">Read more
                <i class="material-icons right">fast_forward</i>
            </button></a><h6></h6>
            <p><font size="3px">5 Tips Menangani Bisnis Online yang Sedang Sepi<br><a href=""><font size="1">02 Sep 2015</font></a></font></p>
            <a href="isiblog3.html"><button class="waves-effect waves-red btn" type="submit" name="action">Read more
                <i class="material-icons right">fast_forward</i>
            </button></a><h6></h6>
          </div>
      </div> 

    </div>
  </div><br>

  <footer class="main-dock-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 class="white-text">Tentang kami</h4>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h2 class="white-text">Settings</h2>
          <ul>
            <li><a class="white-text" href="#!">Account</a></li>
            <li><a class="white-text" href="#!">Blog</a></li>
            <li><a class="white-text" href="#!">Pembayaran</a></li>
            <li><a class="white-text" href="#!">Konfirmasi Order</a></li>
          </ul>
        </div>
        <div class="col l31 s12">
          <h2 class="white-text">Connect</h2>
          <ul>
            <li class="white-text">Email     : kahfimuhammad01@gmail.com</a></li>
            <li class="white-text">Contack   : 085721627627</a></li>
            <li class="white-text">BBM       : 5A17885E</a></li>
            <li class="white-text">Facebook  : Muhammad Al Kahfi</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <font color="#fff">Coprlight by</font>&nbsp;<a class="black-text text-lighten-3" href="http://materializecss.com">Muhammad Kahfi</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script> 
  <script src="js/init.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>


  </body>
</html>
