<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rock Manga Indo</title>

  <!-- CSS  -->
  <link href="img/rock.png" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="main-dock-wrapper" role="navigation">
    <div class="nav-wrapper container1">&nbsp;&nbsp;
        <img class="responsive-img" src="img/rock.png" width="60" height="63">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="register.html">Register</a></li>
        <li class="divider"></li>
        <li><a href="#!">Change password</a></li>
         <li class="divider"></li>
        <li><a href="#!">Log out</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          
        </div>
      </form>
      </li>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">My Account</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Setting<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" title="Go to Home"><i class="material-icons">home</i></a></li>
        <li><a href="#" title="About Me"><i class="material-icons">info_outline</i></a></li>
        <li><a href="#" title="My Account"><i class="material-icons">perm_identity</i></a></li>
        <li><a href="#" title="Setting"><i class="material-icons">settings_applications</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      
    <br>
     <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <h3 class="header center">Kategori</h3>
        <div class="collection">
          <a href="komik.html" class="collection-item">Komik</a>
          <a href="novel.html" class="collection-item">Novel</a>
          <a href="#!" class="collection-item active">Programers</a>
          <a href="majalah.html" class="collection-item">Majalah</a>
          <a href="lain.html" class="collection-item">lain - lain</a>
        </div>
      </div>

      <div class="col s9">
        <!-- Teal page content  -->
        <h3 class="header center">Produk kami</h3>
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px; " class="activator" src="img/komik/1.png" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Black Bullet<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/2.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail1.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Attack on Titan<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/6.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail2.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Onepiece<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/4.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail3.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Bleach<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/CodeBreakervol1.png" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail4.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Code Breaker<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/Volume56Cover.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail5.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Naruto Shippuden<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/naruto.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail5.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Naruto Shippuden<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/sampul1.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail5.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Naruto Shippuden<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div><br>

          <div align="center">
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect waves-red"><a href="#!">2</a></li>
            <li class="waves-effect waves-red"><a href="#!">3</a></li>
            <li class="waves-effect waves-red"><a href="#!">4</a></li>
            <li class="waves-effect waves-red"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul> 
        </div>

        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light ">
                <img style="margin-top:5px; margin-left:5px;" class="activator" src="img/komik/Volume56Cover.jpg" width="150" height="200">
              </div>
              <div class="card-content">
                <a href="detail/detail5.html" style="color:#000;"><span class="card-title activator grey-text text-darken-4"><i class="material-icons right">shopping_cart</i></span></a>
                Naruto Shippuden<br><b>Rp. 50.000</b>
              </div>
            </div>
          </div>
        </div>
        
      </div> 
    </div>
  </div><br>

  <footer class="main-dock-wrapper">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 class="white-text">Tentang kami</h4>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h2 class="white-text">Settings</h2>
          <ul>
            <li><a class="white-text" href="#!">Account</a></li>
            <li><a class="white-text" href="#!">Blog</a></li>
            <li><a class="white-text" href="#!">Pembayaran</a></li>
            <li><a class="white-text" href="#!">Konfirmasi Order</a></li>
          </ul>
        </div>
        <div class="col l31 s12">
          <h2 class="white-text">Connect</h2>
          <ul>
            <li class="white-text">Email     : kahfimuhammad01@gmail.com</a></li>
            <li class="white-text">Contack   : 085721627627</a></li>
            <li class="white-text">BBM       : 5A17885E</a></li>
            <li class="white-text">Facebook  : Muhammad Al Kahfi</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <font color="#fff">Coprlight by</font>&nbsp;<a class="black-text text-lighten-3" href="http://materializecss.com">Muhammad Kahfi</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script> 
  <script src="js/init.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>


  </body>
</html>
